:root {
  --bg-primary: rgba(70, 252, 143, 0.521);
  --clr-primary: rgba(63, 94, 251, 1);
  --clr-btn: rgba(255, 255, 255, 0.75);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--bg-primary);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: var(--clr-btn);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.output {
  grid-column: 1 / 5;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.calculator-grid .span-two {
  grid-column: span 2;
}

.output .previous-operand {
  color: var(--clr-btn);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
